body {
  background-color: #ffffff;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  margin-top: 15px;
  a {
    color: black;
    font-family: $mont;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 300;
  }
}

.logo {
  width: 100px;
}

a {
  text-decoration: none;
}

.nav-links-left,
.nav-links-right {
  display: flex;
  justify-content: space-between;
  width: 32%;
}
